<h3>Add to cart</h3>
<div class="card">
  <div class="card-header p-1">
    <button type="button" class="btn btn-link header-link" (click)="editorCollapsed = !editorCollapsed">
      Item info
    </button>
  </div>
  <div class="card-body" [ngbCollapse]="editorCollapsed">
    <form>
      <div class="form-row">
        <div class="form-group col-12 col-md-6">
          <label for="itemName">Name</label>
          <input id="itemName" name="itemName" type="text" class="form-control" [(ngModel)]="cartItem.label">
        </div>
        <div class="form-group col-12 col-md-6">
          <label for="itemPrice">Price</label>
          <input id="itemPrice" name="itemPrice" type="number" class="form-control" [(ngModel)]="cartItem.cost">
        </div>
        <div class="form-group col-12 col-md-6">
          <label for="itemImage">Image url</label>
          <input id="itemImage" name="itemImage" type="text" class="form-control" [(ngModel)]="cartItem.photo">
        </div>
        <div class="form-group col-12 col-md-6">
          <label for="itemQuantity">Quantity</label>
          <input id="itemQuantity" name="itemQuantity" type="number" class="form-control" [(ngModel)]="cartItem.amount">
        </div>
      </div>
    </form>
  </div>
</div>
<div class="card">
  <div class="card-header p-1">
    <button type="button" class="btn btn-link header-link" (click)="settingsCollapsed = !settingsCollapsed">
      Change settings
    </button>
  </div>
  <div class="card-body" [ngbCollapse]="settingsCollapsed">
    <form>
      <div class="form-row">
        <div class="form-group col-12 col-md-4" *ngIf="!custom">
          <label for="addToCartLabel">Label</label>
          <input id="addToCartLabel" name="addToCartLabel" class="form-control" [(ngModel)]="label" type="text">
        </div>
        <div class="form-group col-12 col-md-4">
          <label for="addToCartType">Type</label>
          <select id="addToCartType" name="addToCartType" class="form-control" [(ngModel)]="editor">
            <option *ngFor="let editor of editorTypes" [value]="editor">{{editor|titlecase}}</option>
          </select>
        </div>
        <div class="form-group col-12 col-md-4" *ngIf="editor !== 'button'">
          <label for="addToCartPosition">Position</label>
          <select id="addToCartPosition" name="addToCartPosition" class="form-control" [(ngModel)]="position">
            <option *ngFor="let position of positions" [value]="position">{{position|titlecase}}</option>
          </select>
        </div>
        <div class="form-group col-12 col-md-4" *ngIf="editor === 'button'">
          <label for="addToCartQuantity">Quantity</label>
          <input id="addToCartQuantity" name="addToCartQuantity" class="form-control" [(ngModel)]="quantity"
                 type="number">
        </div>
      </div>
      <div class="form-check">
        <input id="addToCartContents" name="addToCartContents" type="checkbox" class="form-check-input"
               [(ngModel)]="custom">
        <label for="addToCartContents" class="form-check-label">Custom</label>
      </div>
    </form>
  </div>
</div>
<div class="card">
  <div class="card-header p-1">
    <button type="button" class="btn btn-link header-link" (click)="resultsCollapsed = !resultsCollapsed">
      Results
    </button>
  </div>
  <div class="card-body" [ngbCollapse]="resultsCollapsed">
    <add-to-cart (added)="addToCart($event)" [item]="cartItem" [custom]="custom" (change)="quantityChanged($event)"
                 [type]="editor" [position]="position" [quantity]="quantity" [buttonText]="label || 'Add to cart'">
      <button type="button" class="custom-button">
        Click to add
      </button>
    </add-to-cart>
  </div>
</div>

