@import "variables";
@import "mixins";

.cart-summary {
  display: inline-block;
  @include make-row();

  .cart-summary-icon {
    float: left;
    width: $cart-summary-icon-size;
    height: $cart-summary-icon-size;
  }

  .cart-summary-contents {
    padding-left: 5px;
    float: left;
    @include use('font-size', $cart-summary-font-size);
  }
}
