@import "variables";
@import "mixins";

.add-to-cart {
  display: inline-block;

  .cart-inline-item {
    display: inline-block;
  }

  .cart-block-item {
    display: block;
    text-align: center;

    &.bottom {
      margin-top: $add-to-cart-editor-margin;
    }

    &.top {
      margin-bottom: $add-to-cart-editor-margin;
    }
  }

  .cart-button-container {
    text-align: center;
  }

  .add-to-cart-button {
    @include make-button();
  }

  .add-to-cart-input {
    padding: $add-to-cart-editor-padding;
    border-radius: $input-radius;
    border: $add-to-cart-editor-border;
  }

  .add-to-cart-select {
    padding: $add-to-cart-editor-padding;
    border-radius: $input-radius;
    border: $add-to-cart-editor-border;
  }
}
