$input-border: #d3d3d3;
$input-radius: 3px;
$button-border: #d3d3d3;

/* Add to cart */
$add-to-cart-text: #ffffff;
$add-to-cart-color: #4caf50;
$add-to-cart-radius: 3px;
$add-to-cart-editor-margin: 5px;
$add-to-cart-editor-padding: 6px;
$add-to-cart-editor-border: solid 1px $input-border;

/* Cart view */
$cart-view-empty-color: #efefef;
$cart-view-empty-text: #000000;
$cart-view-empty-font: italic normal normal 1rem/1.2 "Times New Roman", sans serif;
$cart-view-empty-border: none 0 transparent;
$cart-view-empty-padding: 2;
$cart-view-responsive-price-bg: #3f51b5;
$cart-view-responsive-price: #ffffff;
$cart-view-image-size: 100px;


/* Grid system */
$breakpoints: (
  xs: 0,
  s: 576px,
  m: 768px,
  l: 992px,
  xl: 1200px
);

$columns: 12;
$ratios: 4;
