<div class="container">
  <div class="demo-section my-5">
    <demo-service></demo-service>
  </div>
  <div class="demo-section my-5">
    <demo-cart-showcase></demo-cart-showcase>
  </div>
  <div class="demo-section mb-5">
    <demo-add-to-cart></demo-add-to-cart>
  </div>
  <div class="demo-section mb-5">
    <demo-cart-summary></demo-cart-summary>
  </div>
  <div class="demo-section mb-5">
    <demo-cart-view></demo-cart-view>
  </div>
  <div class="demo-section mb-5">
    <demo-cart-checkout></demo-cart-checkout>
  </div>
</div>


