<div *ngIf="empty" class="cart-view-empty">
  {{emptyText}}
</div>
<div *ngIf="!empty" class="cart-view" [ngClass]="display">
  <div class="cart-list-view" [ngClass]="{'no-images': !images}">
    <div class="cart-list-header">
      <div class="cart-list-header-value cart-list-image-header">
      </div>
      <div class="cart-list-header-value cart-list-name-header">
        {{nameHeaderText}}
      </div>
      <div class="cart-list-header-value cart-list-quantity-header">
        {{quantityHeaderText}}
      </div>
      <div class="cart-list-header-value cart-list-price-header">
        {{priceHeaderText}}
      </div>
      <div class="cart-list-header-value cart-list-total-header">
        {{totalHeaderText}}
      </div>
    </div>
    <div *ngFor="let cartItem of items" class="cart-list-item">
      <div class="cart-list-value cart-list-image-value"
           [ngStyle]="{'background-image': 'url(' + cartItem.getImage() + ')'}">
      </div>
      <div class="cart-list-value cart-list-name-value">
        {{cartItem.getName()}}
      </div>
      <div class="cart-list-value cart-list-quantity-value">
        <button type="button" class="cart-increase-button" (click)="increase(cartItem)">
          +
        </button>
        <span class="cart-list-quantity-content">{{cartItem.getQuantity()}}</span>
        <button type="button" class="cart-decrease-button" (click)="decrease(cartItem)">
          -
        </button>
      </div>
      <div class="cart-list-value cart-list-price-value">
        {{cartItem.getPrice() | currency}}
      </div>
      <div class="cart-list-value cart-list-total-value">
        {{cartItem.getPrice() * cartItem.getQuantity() | currency}}
      </div>
    </div>
    <div class="cart-list-footer">
      <div class="cart-list-summary">
        <div class="cart-empty-summary"></div>
        <div class="cart-empty-summary"></div>
        <div class="cart-empty-summary"></div>
        <div class="cart-empty-summary"></div>
        <div class="cart-tax-summary">
          {{taxFooterText}}: ({{taxRate}}%) {{tax | currency}}
        </div>
      </div>
      <div class="cart-list-summary">
        <div class="cart-empty-summary"></div>
        <div class="cart-empty-summary"></div>
        <div class="cart-empty-summary"></div>
        <div class="cart-empty-summary"></div>
        <div class="cart-shipping-summary">
          {{shippingFooterText}}: {{shipping | currency}}
        </div>
      </div>
      <div class="cart-list-summary">
        <div class="cart-empty-summary"></div>
        <div class="cart-empty-summary"></div>
        <div class="cart-empty-summary"></div>
        <div class="cart-empty-summary"></div>
        <div class="cart-total-summary">
          {{totalFooterText}}: {{cost | currency}}
        </div>
      </div>
    </div>
  </div>

</div>

