@import "mixins";

.cart-summary {
  display: inline-block;
  @include make-row();

  .cart-summary-icon {
    float: left;
    width: 32px;
  }

  .cart-summary-contents {
    padding-left: 5px;
    float: left;
  }
}
