.cart-list-layout {
  display: table;
  width: 100%;
  max-width: 100%;

  & > .cart-list-header {
    display: table-row;

    & > .cart-list-header-item {
      display: table-cell;
      text-align: center;
      border-bottom: solid 1px #dee2e6;
      padding: 12px;
      padding: 0.75rem;

      &.cart-list-name-header {
        text-align: start;
      }
    }
  }

  .cart-layout-container {
    display: table-row;

    .cart-list-item {
      display: table-cell;
      text-align: center;
      padding: 12px;
      padding: 0.75rem;
      vertical-align: middle;
      border-top: solid 1px #dee2e6;

      &.cart-list-name-item {
        text-align: start;
      }
    }
  }
}
