@mixin contain-margins() {
  &:before, &:after {
    content: ' ';
    display: table;
  }
}

@mixin clearfix() {
  &:after {
    clear: both;
  }
}

@mixin make-row() {
  @include contain-margins();
  @include clearfix()
}
