$input-border: #d3d3d3;
$input-radius: 3px;
$button-border: #d3d3d3;

/* Add to cart */
$add-to-cart-text: #ffffff;
$add-to-cart-color: #4caf50;
$add-to-cart-radius: 3px;

/* Cart view */
$cart-view-empty-color: #efefef;
$cart-view-empty-text: #000000;


/* Grid system */
$breakpoints: (
  xs: 0,
  s: 576px,
  m: 768px,
  l: 992px,
  xl: 1200px
);

$columns: 12;
$ratios: 4;
