/* You can add global styles to this file, and also import other style files */

pre[class*="language-"] {
  border-radius: 0;
}

a.header, a.header:hover {
  text-decoration: none;
  color: #000000;
  cursor: pointer;
}

h2:focus, a:focus {
  outline: none transparent 0;
}

.navbar-brand svg {
  width: 28px;
  height: 28px;
}

:root {
  position: relative;
  min-height: 100%;
  padding-bottom: 40px;
}

.github-icon {
  text-align: center;

  svg {
    vertical-align: text-bottom;
  }
}

.github-link:hover {
  text-decoration: none;
}

.navbar {
  .dropdown-item.submenu {
    padding: 0.25rem 0.5rem 0.25rem 1.5rem;

    a {
      display: block;

      &:after {
        float: right;
        margin-top: 0.5em;
      }
    }
  }
}

