/* You can add global styles to this file, and also import other style files */

pre[class*="language-"] {
  border-radius: 0;
}

a.header, a.header:hover {
  text-decoration: none;
  color: #000000;
  cursor: pointer;
}

h2:focus, a:focus {
  outline: none transparent 0;
}

.navbar-brand svg {
  width: 28px;
  height: 28px;
}

:root {
  position: relative;
  min-height: 100%;
  padding-bottom: 40px;
}

.repo-github-icon {
  text-align: center;

  svg {
    vertical-align: text-bottom;
  }
}

.github-link:hover {
  text-decoration: none;
}

.navbar {
  .dropdown-item.submenu {
    padding: 0.25rem 0.5rem 0.25rem 1.5rem;

    a {
      display: block;

      &:after {
        position: absolute;
        right: 0;
        top: 0.5rem;
      }
    }
  }
}

a.header h4 svg {
  vertical-align: middle;
}

blockquote.doc.note {
  padding: 1em;
}

.how-to-use {
  font-style: italic;

  &:not(:first-of-type) {
    padding-top: 1rem;

    & ~ code, p {
      padding-bottom: 1rem;
    }
  }
}

a.nav-item-link {
  cursor: pointer;
}

@mixin note() {
  background-color: #ffe5644d;
  border-left: 9px #ffe564 solid;
  padding: 20px 40px 20px 25px;
  margin: 20px 0;
  color: #000000;
  font-size: 1rem;
}

blockquote.note, .note {
  @include note();

  markdown p:last-of-type {
    margin-bottom: 0;
  }
}

markdown blockquote.note {
  @include note();

  p:last-of-type {
    margin-bottom: 0;
  }
}

