<div class="panel">
  <div class="settings">
    <div class="input-group">
      <label for="addToCartContents">Custom:</label>
      <input id="addToCartContents" type="checkbox" [(ngModel)]="custom">
    </div>
    <div class="input-group" *ngIf="contents === 'text'">
      <label for="addToCartLabel">Label:</label>
      <input id="addToCartLabel" [(ngModel)]="label" type="text">
    </div>
    <div class="input-group">
      <label for="addToCartType">Type:</label>
      <select id="addToCartType" [(ngModel)]="editor">
        <option *ngFor="let editor of editorTypes" [value]="editor">{{editor|titlecase}}</option>
      </select>
    </div>
    <div class="input-group" *ngIf="editor !== 'button'">
      <label for="addToCartPosition">Position:</label>
      <select id="addToCartPosition" [(ngModel)]="position">
        <option *ngFor="let position of positions" [value]="position">{{position|titlecase}}</option>
      </select>
    </div>
    <div class="input-group" *ngIf="editor === 'button'">
      <label for="addToCartQuantity">Quantity:</label>
      <input id="addToCartQuantity" [(ngModel)]="quantity" type="text">
    </div>
  </div>
  <add-to-cart
    (add)="addToCart($event)" [item]="cartItem" [custom]="custom"
    [type]="editor" [position]="position" [(quantity)]="quantity" [label]="label || 'Add to cart'">
    <button type="button" class="custom-button">
      Click to add
    </button>
  </add-to-cart>
</div>
