<div class="panel">
  <div class="settings">
    <div class="input-group">
      <label for="addToCartType">Type:</label>
      <select id="addToCartType" [(ngModel)]="editor">
        <option *ngFor="let editor of editorTypes" [value]="editor">{{editor|titlecase}}</option>
      </select>
    </div>
    <div class="input-group">
      <label for="addToCartPosition">Position:</label>
      <select id="addToCartPosition" [(ngModel)]="position">
        <option *ngFor="let position of positions" [value]="position">{{position|titlecase}}</option>
      </select>
    </div>
  </div>
  <add-to-cart (add)="addToCart($event)" [type]="editor" [position]="position"></add-to-cart>
</div>
