<h3>Cart checkout</h3>
<div class="card">
  <div class="card-header p-1">
    <button type="button" class="btn btn-link header-link" (click)="settingsCollapsed = !settingsCollapsed">
      Change settings
    </button>
  </div>
  <div class="card-body" [ngbCollapse]="settingsCollapsed">
    <form>
      <div class="form-row">
        <div class="form-group col-12 col-md-3">
          <label for="cartCheckoutService" class="mr-1">Service</label>
          <select id="cartCheckoutService" name="cartCheckoutService" class="form-control" [(ngModel)]="service">
            <option value="log">Log</option>
            <option value="http">Http</option>
            <option value="paypal">PayPal</option>
          </select>
        </div>
        <div class="form-group col-12 col-md-3" *ngIf="!custom && service !== 'paypal'">
          <label for="cartCheckoutLabel" class="mr-1">Label</label>
          <input id="cartCheckoutLabel" name="cartCheckoutLabel" class="form-control" [(ngModel)]="label" type="text">
        </div>
        <ng-container *ngIf="service === 'http'">
          <div class="form-group col-12 col-md-3">
            <label for="cartCheckoutUrl" class="mr-1">Url</label>
            <input id="cartCheckoutUrl" name="cartCheckoutUrl" class="form-control" [(ngModel)]="httpConfig.url">
          </div>
          <div class="form-group col-12 col-md-3">
            <label for="cartCheckoutMethod" class="mr-1">Method</label>
            <select id="cartCheckoutMethod" name="cartCheckoutMethod" class="form-control"
                    [(ngModel)]="httpConfig.method">
              <option value="POST">POST</option>
              <option value="PUT">PUT</option>
              <option value="PATCH">PATCH</option>
            </select>
          </div>
        </ng-container>
        <ng-container *ngIf="service === 'paypal'">
          <div class="form-group col-12 col-md-3">
            <label for="cartCheckoutBusiness" class="mr-1">Business</label>
            <input id="cartCheckoutBusiness" name="cartCheckoutBusiness" class="form-control"
                   [(ngModel)]="paypalConfig.business">
          </div>
          <div class="form-group col-12 col-md-3">
            <label for="cartCheckoutCurrency" class="mr-1">Currency</label>
            <input id="cartCheckoutCurrency" name="cartCheckoutCurrency" class="form-control"
                   [(ngModel)]="paypalConfig.currencyCode">
          </div>
          <div class="form-group col-12 col-md-3">
            <label for="cartCheckoutName" class="mr-1">Item name</label>
            <input id="cartCheckoutName" name="cartCheckoutName" class="form-control"
                   [(ngModel)]="paypalConfig.itemName">
          </div>
          <div class="form-group col-12 col-md-3">
            <label for="cartCheckoutNumber" class="mr-1">Item number</label>
            <input id="cartCheckoutNumber" name="cartCheckoutNumber" class="form-control"
                   [(ngModel)]="paypalConfig.itemNumber">
          </div>
          <div class="form-group col-12 col-md-3">
            <label for="cartCheckoutNoNote" class="mr-1">No note</label>
            <select id="cartCheckoutNoNote" name="cartCheckoutNoNote" class="form-control"
                    [(ngModel)]="paypalConfig.noNote">
              <option value="0">0</option>
              <option value="1">1</option>
            </select>
          </div>
        </ng-container>
      </div>
      <div class="form-row" *ngIf="service !== 'paypal'">
        <div class="form-group col mb-0">
          <div class="form-check">
            <input id="cartCheckoutContents" name="cartCheckoutContents" type="checkbox" class="form-check-input"
                   [(ngModel)]="custom">
            <label for="cartCheckoutContents" class="form-check-label">Custom</label>
          </div>
        </div>
      </div>
    </form>
    <hr>
    <small *ngIf="service === 'log'">Checkout and inspect the console to view the contents of the cart</small>
    <small *ngIf="service === 'http'">CORS must be enabled on the server for the request to be sent</small>
    <small *ngIf="service === 'paypal'">A new page will open in the PayPal service</small>
  </div>
</div>
<div class="card">
  <div class="card-header p-1">
    <button type="button" class="btn btn-link header-link" (click)="resultsCollapsed = !resultsCollapsed">
      Results
    </button>
  </div>
  <div class="card-body" [ngbCollapse]="resultsCollapsed">
    <cart-checkout [custom]="custom" [buttonText]="label || 'Checkout'" [service]="service"
                   [settings]="service === 'http' ? httpConfig : paypalConfig" (checkout)="onSuccess($event)"
                   (error)="onError($event)">
      <button type="button" [disabled]="disabled" class="custom-checkout-button">
        Start checkout
      </button>
    </cart-checkout>
  </div>
</div>
