.cart-logo {
  min-width: 300px;
}

.feature-link {
  border-radius: 3px;

  &:hover {
    text-decoration: none;

  }
}

.repo-button {
  display: inline-block;
  margin: 0 5px;
  padding-bottom: 1px;

  &:first-of-type {
    margin: 0 5px 0 0;
  }

  &:last-of-type {
    margin: 0 0 0 5px;
  }
}
