@import "variables";

.panel .settings {
  input:not([type="checkbox"]), select {
    border: solid 1px $control-border-color;
    border-radius: 3px;
    padding: 6px;
  }

  input[type="checkbox"] {
    vertical-align: text-top;
  }

  select option {
    min-height: 1em;
  }
}
