@import "variables";

.panel .settings {
  input, select {
    border: solid 1px $control-border-color;
    border-radius: 3px;
    padding: 6px;
  }

  select option {
    min-height: 1em;
  }
}
