<div class="add-to-cart">
  <div [ngClass]="{'cart-inline-item left': position === 'left', 'cart-block-item top': position === 'top'}"
       *ngIf="(position === 'left' || position === 'top') && type !== 'button'">
    <add-to-cart-editor [type]="type" [dropdown]="dropdown" [(value)]="editorQuantity"></add-to-cart-editor>
  </div>
  <div class="cart-button-container" (click)="addToCart($event)"
       [ngClass]="{'cart-inline-item': position === 'left' || position === 'right', 'cart-block-item': position === 'above' || position === 'below'}">
    <ng-container *ngIf="!custom">
      <button type="button" [ngClass]="buttonClass">
        {{label}}
      </button>
    </ng-container>
    <ng-content *ngIf="custom">
    </ng-content>
  </div>
  <div [ngClass]="{'cart-inline-item right': position === 'right', 'cart-block-item bottom': position === 'bottom'}"
       *ngIf="(position === 'right' || position === 'bottom') && type !== 'button'">
    <add-to-cart-editor [type]="type" [dropdown]="dropdown" [(value)]="editorQuantity"></add-to-cart-editor>
  </div>
</div>
