/* You can add global styles to this file, and also import other style files */
@import "../src/styles";
@import "./styles/forms";

.panel {
  padding: 20px 10px;
  border: solid 1px #a3a3a3;
  background-color: #ffffff;
  margin: 10px 0;

  .settings {
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: solid 1px lightgray;

    select {
      min-height: 2.5em;
    }

    .input-group {
      display: inline-block;
      margin: 0 10px;

      &:last-of-type {
        margin: 0 0 0 10px;
      }

      &:first-of-type {
        margin: 0 10px 0 0;
      }
    }
  }
}
