/* You can add global styles to this file, and also import other style files */

.header-link {
  color: inherit;

  &:hover {
    text-decoration: none;
  }

  &:focus {
    outline: dashed 1px lightgrey;
    text-decoration: none;
  }
}

