<h3>Cart summary</h3>
<div class="card">
  <div class="card-header p-1">
    <button type="button" class="btn btn-link header-link" (click)="settingsCollapsed = !settingsCollapsed">
      Change settings
    </button>
  </div>
  <div class="card-body" [ngbCollapse]="settingsCollapsed">
    <form>
      <div class="form-row">
        <div class="form-group col-12 col-md-4">
          <label for="cartSummaryIcon">Icon url</label>
          <div class="form-row">
            <div class="form-group col">
              <input id="cartSummaryIcon" name="cartSummaryIcon" class="form-control" #iconInput type="text">
              <small>Leave the icon url blank to use the default icon</small>
            </div>
            <div class="form-group col-auto">
              <button type="button" class="btn btn-info" (click)="icon = iconInput.value">
                Set
              </button>
            </div>
          </div>
        </div>
        <div class="form-group col-12 col-md-4">
          <label for="cartSummaryPlurals">Total plurals</label>
          <div class="form-row">
            <div class="form-group col">
              <input id="cartSummaryPlurals" name="cartSummaryPlurals" class="form-control" #plInput type="text">
              <small class="text-danger" *ngIf="pluralError">
                Error parsing the expression. It must be an object in ICU format
              </small>
              <small class="text-danger" *ngIf="pluralIncomplete">
                Error parsing the expression. You must provide at least one fallback key that don't start with '='
              </small>
            </div>
            <div class="form-group col-auto">
              <button type="button" class="btn btn-info" (click)="setPlurals(plInput.value)">
                Set
              </button>
            </div>
          </div>
        </div>
      </div>
      <hr>
      <small>Find details about the ICU format
        <a href="http://userguide.icu-project.org/formatparse/messages">
          here
        </a>
      </small>
    </form>
  </div>
</div>
<div class="card">
  <div class="card-header p-1">
    <button type="button" class="btn btn-link header-link" (click)="resultsCollapsed = !resultsCollapsed">
      Results
    </button>
  </div>
  <div class="card-body" [ngbCollapse]="resultsCollapsed">
    <nav class="navbar navbar-dark bg-dark">
      <a class="navbar-brand">
        <svg version="1.1" class="icon" width="30" height="30" xmlns="http://www.w3.org/2000/svg"
             style="vertical-align: middle"
             xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 32 32">
          <path stroke="currentColor" stroke-width="2" stroke-linecap="round" fill="none" stroke-linejoin="round"
                d="M2,4 L6,4 L10,20 L21,20 L25,10 L8,10 M13,10 L13,20 M18,20 L18,10 M10,15 L23,15"/>
          <circle fill="currentColor" cx="11" cy="24" r="2"/>
          <circle fill="currentColor" cx="21" cy="24" r="2"/>
        </svg>
        NgShoppingCart
      </a>
      <ul class="navbar nav">
        <li class="nav-item text-white">
          <cart-summary [icon]="icon" [totalPlurals]="plurals"></cart-summary>
        </li>
      </ul>
    </nav>
    <nav class="navbar navbar-light bg-light">
      <a class="navbar-brand">
        <svg version="1.1" class="icon" width="30" height="30" xmlns="http://www.w3.org/2000/svg"
             style="vertical-align: middle"
             xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 32 32">
          <path stroke="currentColor" stroke-width="2" stroke-linecap="round" fill="none" stroke-linejoin="round"
                d="M2,4 L6,4 L10,20 L21,20 L25,10 L8,10 M13,10 L13,20 M18,20 L18,10 M10,15 L23,15"/>
          <circle fill="currentColor" cx="11" cy="24" r="2"/>
          <circle fill="currentColor" cx="21" cy="24" r="2"/>
        </svg>
        NgShoppingCart
      </a>
      <ul class="navbar nav">
        <li class="nav-item">
          <cart-summary [icon]="icon" [totalPlurals]="plurals"></cart-summary>
        </li>
      </ul>
    </nav>
    <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
      <a class="navbar-brand">
        <svg version="1.1" class="icon" width="30" height="30" xmlns="http://www.w3.org/2000/svg"
             style="vertical-align: middle"
             xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 32 32">
          <path stroke="currentColor" stroke-width="2" stroke-linecap="round" fill="none" stroke-linejoin="round"
                d="M2,4 L6,4 L10,20 L21,20 L25,10 L8,10 M13,10 L13,20 M18,20 L18,10 M10,15 L23,15"/>
          <circle fill="currentColor" cx="11" cy="24" r="2"/>
          <circle fill="currentColor" cx="21" cy="24" r="2"/>
        </svg>
        NgShoppingCart
      </a>
      <ul class="navbar nav">
        <li class="nav-item">
          <cart-summary [icon]="icon" [totalPlurals]="plurals"></cart-summary>
        </li>
      </ul>
    </nav>
  </div>
</div>
